@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  transition: background 0.4s ease;
  @apply transition-colors duration-300;
}

html.dark body {
  background-color: #0f0f0f;
  color: white;
    scroll-behavior: smooth;

}

.magnetic {
  transition: transform .25s cubic-bezier(.2, .8, .2, 1);
}

.magnetic:hover {
  transform: translateY(-3px) scale(1.03);
}

.glass-input {
  @apply bg-white/40 dark:bg-black/30 border border-gray-300 dark:border-white/10 
  p-3 w-full rounded-xl outline-none text-sm text-gray-800 dark:text-gray-200
  focus:border-orange-500 transition;
}
.cta-btn {
  @apply px-5 py-3 rounded-xl font-semibold hover:scale-105 transition shadow-md;
}